doctype html
html(lang='en')
    head
        
        title App TO DO
        link(rel='stylesheet', href='/static/style.css')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    body 
        div.container
            h1.logo TO DO App 

            block First page 