doctype html
html(lang='en')
    head
        
        title App TO DO
        link(rel='stylesheet', href='/static/main.css')
    body 
        div.container
            h1.logo TO DO App 

            block First page 