:root {
    font-family: 'Londrina Solid', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    font-size: 4rem;
}

.form {
    width: 100%;
    display: flex;
    justify-self: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem; 
    width: 80%;
    border: 1px green;
    font-family: inherit;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem; 
    width: 20%;
    border: none;
    background: yellow;
    color: black;
}

.todos {
    margin-top: 25px;
    border: 1px solid #eee;
    padding: 10px;
}

.todo {
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: tomato;
}

.todo:last-child {
    border-bottom: none;
}

.todo:hover {
    background: grey;
}


.error, .success {
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid forestgreen;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.error {
    color: hotpink;
    border-color: indigo;
}

.success {
    color: slateblue;
    border-color: slateblue;
}