:root {
    font-family: 'Londrina Solid', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #020631;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-bottom: 30px;
}

.form {
    width: 100%;
    display: flex;
    justify-self: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem; 
    width: 80%;
    border: 1px green;
    font-family: inherit;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem; 
    width: 20%;
    border: none;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.todos {
    margin-top: 25px;
    border: 1px solid white;
    padding: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.todo:last-child {
    border-bottom: none;
}

p.todo:hover {
    background-color: black;
}


.error, .success {
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid indigo;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.error {
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

.success {
    color: rgb(44, 170, 19);
    border-color: rgb(44, 170, 19);
}

.delete {
    text-decoration: none;
    font-size: 10px;
    padding: 10px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.delete img{
    width: 30px;
    height:30px;
}

.done, .undone {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    transition: .3s ease;
}
.done, .undone :hover{
    color: black;
    background-color: white;
    width: 100%;
}


.done {
    text-decoration: line-through;
}

